/**********************************/
/* @since 01/01/2025              */
/* @author K10s Open Source Team  */
/**********************************/

/* Global Styles */
:root[data-theme="dark"] {
    --text: #ecf1f4;
    --background: #040c10;
    --primary: #004b7a;
    --primary-a: #0077a2;
    --secondary: #3c3154;
    --tertiary: #262b2e;
    --quaternary: #1f2326;
    --accent: #5f4270;
}

:root[data-theme="light"] {
    --text: #0b1013;
    --background: #eff7fb;
    --primary: #85d0ff;
    --primary-a: #45b8ff;
    --secondary: #b6abce;
    --tertiary: #e8eff3;
    --quaternary: #dedfed;
    --accent: #ac8fbd;
}

:root {
    --radius: 12px;
    --spacing: 16px;
    --shadow: rgba(0, 0, 0, 0.1);

    --facebook-color: #1877f2;
    --x-color: #45494d;
    --instagram-color: #c13584;
    --github-color: #333333;
    --gitlab-color: #fc6d26;
    --linkedin-color: #0077b5;
    --youtube-color: #ff0000;
    --whatsapp-color: #25d366;
    --telegram-color: #0088cc;
    --discord-color: #7289da;
    --twitch-color: #6441a5;
}
/* Global Styles */

/* Cursor */
* {
    cursor: url('/svg/cursor-auto.svg'), auto;
}

.cursor-default {
    cursor: url('/svg/cursor-default.svg'), default;
}

.cursor-pointer {
    cursor: url('/svg/cursor-pointer.svg'), pointer;
}

.cursor-wait {
    cursor: url('/svg/cursor-wait.svg'), wait;
}

.cursor-text {
    cursor: url('/svg/cursor-text.svg'), text;
}

.cursor-move {
    cursor: url('/svg/cursor-move.svg'), move;
}
/* Cursor */

/* Fonts */
@font-face { /* cyrillic-ext */
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    src: url(/fonts/inter-cyrillic-ext.woff2) format('woff2');
    unicode-range: U+0460-052F, U+1C80-1C8A, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;
}

@font-face { /* cyrillic */
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    src: url(/fonts/inter-cyrillic.woff2) format('woff2');
    unicode-range: U+0301, U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}

@font-face { /* greek-ext */
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    src: url(/fonts/inter-greek-ext.woff2) format('woff2');
    unicode-range: U+1F00-1FFF;
}

@font-face { /* greek */
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    src: url(/fonts/inter-greek.woff2) format('woff2');
    unicode-range: U+0370-0377, U+037A-037F, U+0384-038A, U+038C, U+038E-03A1, U+03A3-03FF;
}

@font-face { /* vietnamese */
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    src: url(/fonts/inter-vietnamese.woff2) format('woff2');
    unicode-range: U+0102-0103, U+0110-0111, U+0128-0129, U+0168-0169, U+01A0-01A1, U+01AF-01B0, U+0300-0301, U+0303-0304, U+0308-0309, U+0323, U+0329, U+1EA0-1EF9, U+20AB;
}

@font-face { /* latin-ext */
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    src: url(/fonts/inter-latin-ext.woff2) format('woff2');
    unicode-range: U+0100-02BA, U+02BD-02C5, U+02C7-02CC, U+02CE-02D7, U+02DD-02FF, U+0304, U+0308, U+0329, U+1D00-1DBF, U+1E00-1E9F, U+1EF2-1EFF, U+2020, U+20A0-20AB, U+20AD-20C0, U+2113, U+2C60-2C7F, U+A720-A7FF;
}

@font-face { /* latin */
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    src: url(/fonts/inter-latin.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
/* Fonts */

/* Global Body */
body {
    background-color: var(--secondary);
    font-family: 'Inter', Arial;
}
/* Global Body */

/* Global Selection */
::selection {
    background-color: var(--primary);
    color: var(--text);
}

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background-color: var(--quaternary);
}

::-webkit-scrollbar-thumb {
    background-color: var(--tertiary);
    border-radius: var(--radius);
}

::-webkit-scrollbar-thumb:hover {
    background-color: var(--secondary);
}

::-webkit-scrollbar-thumb:active {
    background-color: var(--primary);
}

::-webkit-scrollbar-corner {
    background-color: var(--quaternary);
}

::-webkit-scrollbar-button {
    display: none;
}

::-webkit-scrollbar-track-piece {
    display: none;
}

::-webkit-scrollbar-corner {
    display: none;
}

::-webkit-resizer {
    display: none;
}
/* Global Scrollbar */

/* SetUp Grid */
.header { grid-area: header; }
.main { grid-area: main; }
.footer { grid-area: footer; }

.body {
    display: grid;
    grid-template-areas:
        'header'
        'main'
        'footer';
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 9fr 0.5fr;
    gap: 16px;
    padding: 10px;
    height: 96vh;
}
/* SetUp Grid */

/* Main */
.main {
    background-color: var(--tertiary);
    color: var(--text);
    border-radius: var(--radius);
    box-shadow: 2px 0 5px var(--shadow);
    width: 100%;
    position: relative;
}

.main-section {
    margin-bottom: 20px;
    padding: 10px;
    margin: 16px;
    background: var(--quaternary);
    border-radius: var(--radius);
    box-shadow: 1px 1px 3px var(--shadow);
}

.main-section h2,
.main-section h3 {
    color: var(--accent);
    margin-top: 0;
}

.main-section p {
    line-height: 1.6;
}

.main-section a {
    color: var(--primary-a);
    text-decoration: none;
}

.main-section strong {
    color: var(--accent);
}

.main-section video {
    display: block;
    border: 5px solid var(--primary);
    border-radius: var(--radius);
    box-shadow: 2px 2px 10px var(--shadow);
    max-width: calc(40% - 8px);
    height: auto;
    margin-bottom: 16px;
}

.main-section img {
    display: block;
    border-radius: var(--radius);
    box-shadow: 2px 2px 10px var(--shadow);
    max-width: 100%;
    height: auto;
    margin: 0 auto 16px auto;
    object-fit: cover;
}

.main-founder-container {
    display: flex;
    justify-content: space-around;
    margin-top: 30px;
}

.main-founder-box {
    text-align: center;
    width: 250px;
    padding: 20px;
    border: 1px solid #dddddd;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.main-founder-box img {
    width: 100%;
    height: auto;
    border-radius: 50%;
    margin-bottom: 15px;
}

.main-founder-name {
    font-size: 1.2em;
    font-weight: bold;
    margin-bottom: 10px;
}

.main-social-buttons {
    display: flex;
    justify-content: center;
    gap: 10px;
}

.main-social-buttons a {
    padding: 8px 12px;
    border-radius: 5px;
    color: #ffffff;
    text-decoration: none;
    font-size: 1em;
}

.main-social-buttons a.linkedin {
    background-color: var(--linkedin-color);
}

.main-social-buttons a.github {
    background-color: var(--github-color);
}

.main-social-buttons a.instagram {
    background-color: var(--instagram-color);
}
/* Main */

/* Media Queries */
@media screen and (max-width: 1024px) {
    .body {
        grid-template-rows: 1fr 9fr 0.5fr;
    }

    .main-section video {
        max-width: calc(100% - 8px);
    }

    .main-section img {
        max-width: calc(100% - 8px);
    }

    .main-founder-container {
        flex-direction: column;
        align-items: center;
    }
}

@media screen and (max-width: 768px) {
    .index-header {
        flex-direction: column;
        text-align: center;
    }

    .body {
        grid-template-rows: 1fr 9fr 0.5fr;
    }
}
/* Media Queries */