/**********************************/
/* @since 31/03/2025              */
/* @author Vera Wise              */
/**********************************/

@import url('/SAP-Internship-Flexso/css/global.css');

/* Header */
.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: var(--quaternary);
    color: var(--text);
    border-radius: var(--radius);
    box-shadow: 2px 0 5px var(--shadow);
    padding: 10px;
}

.header .header-logo img {
    height: 100px;
    width: auto;
    margin: 0;
}

.header .header-company-name {
    color: var(--secondary);
    margin: 0;
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 2rem;
    text-align: center;
    flex-grow: 1;
}

.theme-toggle-btn {
    padding: 8px 16px;
    background-color: var(--primary);
    color: var(--text);
    border: none;
    border-radius: var(--radius);
    cursor: pointer;
    transition: background-color 0.3s;
    margin: 1rem;
}

.theme-toggle-btn:hover {
    background-color: var(--secondary);
}

.user-picture {
    width: 100%;
    height: auto;
    border-radius: 50%;
    background-color: var(--accent);
    margin: 1rem;
}

.picture-article {
    display: block;
    width: 50px;
    height: 50px;
    object-fit: cover;
    float: left;
    padding: 0.5rem;
    margin-right: 1rem !important;
    border: 5px solid var(--primary);
    border-radius: 50%;
}

/* Header */